
@main("insert intern"){
<div ng-controller="AddController" align="center">

<form>
    <input type="text" placeholder="Name" class="text" ng-model="name" size="30">
    <br>
    <br>
    <input type="text" placeholder="Email" class="text" ng-model="email" size="30">
    <br>
    <br>
    <input type="text" placeholder="Mobile Number" class="text" ng-model="mobile" size="30">
    <br>
    <br>
    <input type="text" placeholder="Address" class="text" ng-model="address" size="30">
    <br>
    <br>
    <input type="text" placeholder="Emergency Contact" class="text" ng-model="emergency" size="30">
    <br>
    <br>
    <input type="submit" class="btn btn-primary" data-ng-click="SaveIt()" value="Add Intern" >
    <br><br>
  </form>
    </div>

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/add.js")">
</script>
    }
