@import helper._
@(internForm: Form[Interns])

@views.html.main("Update Employee"){
<div>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Change Password </div>
            <div class="panel-body">

                @helper.form() {
                @helper.inputText(internForm("id"),'_label->"ID :")
                @helper.inputText(internForm("name"),'_label->"Name :")
                @helper.inputText(internForm("email"),'_label->"Email :")
                @helper.inputText(internForm("mobile"),'_label->"Mobile :")
                @helper.inputText(internForm("address"),'_label->"Address :")
                @helper.inputText(internForm("emergency"),'_label->"Emergency :")

                <button type="submit" class="btn btn-primary" value="SUBMIT">SUBMIT</button>
                }
                <div class="pull-right">
                    <a href="logout" class="btn btn-info" role="button">LOG OUT</a>
                </div>

            </div>

        </div>
    </div>


</div>

}
