@(user:repository.Interns)
@main("Update Intern"){

<div data-ng-controller ="DeleteController">
    <input type="hidden" class="text" ng-model="id" size="30" ng-init='id="@user.id"'>
    <input type="button" class="btn btn-danger pull-right" data-ng-click="Delete()" value="Delete Intern">
</div>
<br/>
<br/>
<br/>
    <div ng-controller="UpdateController" align="center">

    <form>
        <input type="hidden" class="text" ng-model="id" size="30" ng-init='id="@user.id"'>
        <input type="text" placeholder="Name" class="text" ng-model="name" size="30" ng-init='name="@user.name"'>
        <br>
        <br>
        <input type="text" placeholder="Email" class="text" ng-model="email" size="30" ng-init='email="@user.email"'>
        <br>
        <br>
        <input type="text" placeholder="Mobile Number" class="text" ng-model="mobile" size="30" ng-init='mobile="@user.mobile"'>
        <br>
        <br>
        <input type="text" placeholder="Address" class="text" ng-model="address" size="30" ng-init='address="@user.address"'>
        <br>
        <br>
        <input type="text" placeholder="Emergency Contact" class="text" ng-model="emergency" size="30" ng-init='emergency="@user.emergency"'>
        <br>
        <br>
        <input type="submit" class="btn btn-primary" data-ng-click="updateIt()" value="Update Intern" >
        <br><br>
    </form>
    </div>


<script type="text/javascript" src="@routes.Assets.versioned("javascripts/update.js")"></script>
    }
