@main("List Interns"){
<div ng-controller="InternCtrl">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table>
                <tr>
                    <th style="width: 100%;"><h3>Search Student By Id :- <input type="text" size="5" ng-model="searchId"></h3></th>
                </tr>
            </table>

            <table class="table table-hover">
                <tr>
                    <th style="color:#003333;">Name</th>
                    <th style="color:#003333;">Email</th>
                    <th style="color:#003333;">Mobile No.</th>
                    <th style="color:#003333;">Address</th>
                    <th style="color:#003333;">Emergency Contact</th>
                </tr>
                <tr ng-repeat="intern in dataList | filter:searchId">
                    <td><a href="/edit/{{intern.id}}">{{intern.name}}</a></td>
                    <td>{{intern.email}}</td>
                    <td>{{intern.address}}</td>
                    <td>{{intern.mobile}}</td>
                    <td>{{intern.emergency}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/list.js")">

</script>

}